*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Jost', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
}
li{
    list-style: none;
}

:root{
    --background-color: #189A46;
    --font-color: #696969;
    --title-p-color: #f53626;
    --title-h2-color: #000c04;
    --bg-color: #ffffff;
}
.title p{
    font-size: 25px;
    color: var(--title-p-color);
    font-weight: 600;
    line-height: 1;
}
.title h2{
    font-size: 40px;
    color: var(--title-h2-color);
    font-weight: 600;
}

/* NUMBER */
.number{
    background-color: var(--background-color);
    color: #ffffff;
}
.number__content h2{
    font-size: 50px;
    font-weight: 600;
}
.number__content p{
    font-size: 20px;
    opacity: 0.7;
}
