* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Jost', sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
}

li {
  list-style: none;
}

:root {
  --background-color: #189A46;
  --font-color: #696969;
  --title-p-color: #f53626;
  --title-h2-color: #151515;
  --bg-color: #ffffff;
  --bg-light: rgba(147, 107, 232, 0.05);
  --bg-gray: #222;
}

.title p {
  font-size: 25px;
  color: var(--title-p-color);
  font-weight: 600;
  line-height: 1;
}

.title h2 {
  font-size: 40px;
  color: var(--title-h2-color);
  font-weight: 600;
}



/* HEADER */
header {
  background-color: var(--bg-color);
  transition: all 0.5s;
  /*   
  z-index: 1000;
  width: 100%; */
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.fixed-top {
  top: 40px;
  width: 100vw;
}

.dark header {
  background-color: var(--title-h2-color);
}

.dark header .navbar-nav .nav-item a {
  color: var(--bg-color) !important;
}

header .Logo {
  font-size: 2rem;
  font-weight: 600;
  color: #189A46 !important;
}

header .navbar-nav {
  margin-left: auto;
}

header .navbar-nav .nav-item {
  margin: 0 0.5rem;
}

header .navbar-nav .nav-item a {
  color: var(--title-h2-color) !important;
  font-size: 18px;
  transition: all 0.5s;
}

header .navbar-nav li:hover a {
  color: #189A46 !important;
}

.dark header .navbar-nav li:hover a {
  color: #189A46 !important;
}

header .navbar-nav li.active a {
  color: #189A46 !important;
}

.dark header .navbar-nav li.active a {
  color: #189A46 !important;
}

header .navbar-nav li {
  position: relative;
}

header .navbar-nav li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: #189A46;
  transition: all 0.5s;
}

header .navbar-nav li:hover::after {
  width: 100%;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #189A46;
  border-radius: 5px;
  background-image: none;
  line-height: 30px;
  color: white;
}


/* .navbar-dark .navbar-toggler {
  margin-left: auto;
  border: none;
} */
@media (max-width:992px) {
  .light-dark {
    position: absolute;
    right: 50px;
    top: 23px;
  }

  .carousel .container .text h1 {
    font-size: 50px;
    line-height: 55px;

  }
}


.light-dark i {
  font-size: 22px;
}

.navbar-dark .navbar-toggler {
  position: absolute;
  right: 0;
  top: 20px;
}

/* light theme */

#myBody {
  background-color: var(--bg-color);
  transition: all 0.5s;
}


#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: var(--title-h2-color);
}


.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}


/* @media (max-width:523px) {
  header {
    width: 100%;
  }
} */

/* CAROUSEL */
.carousel .carousel__conten .carousel__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 40px);
}

.carousel .carousel__conten .carousel__item1 {
  background-image: url(/img/banner1.jpg);

}

.carousel .carousel__conten .carousel__item2 {
  background-image: url(/img/banner2.jpg);

}

.carousel .carousel__conten .carousel__item3 {
  background-image: url(/img/banner3.jpg);

}

.carousel .carousel__conten .carousel__item4 {
  background-image: url(/img/banner4.jpg);

}

.carousel .carousel__conten .carousel__item {
  position: relative;
}

.carousel .carousel__conten .carousel__item1 .text,
.carousel .carousel__conten .carousel__item3 .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  /* margin-left: 14rem; */
}

.carousel .carousel__conten .carousel__item2 .text,
.carousel .carousel__conten .carousel__item4 .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  margin-left: 20rem;
}

.carousel__item .text {
  max-width: 700px;
}

.carousel__item .text h1 {
  font-size: 4rem;
  font-weight: 600;

}

.carousel__item .text p {
  font-size: 20px;
}

.carousel__item .text a {
  text-decoration: none;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  width: 150px;
  height: 50px;
  line-height: 35px;
  margin-right: 10px;
  transition: 0.5s;
  margin-top: 2rem;
}

.carousel__item .text a:hover {
  color: #189A46;
  background-color: white;
}

.carousel__item .text a.active {
  color: #189A46;
  background-color: white;
}

.carousel .carousel__conten {
  position: relative;
}

.owl-one.owl-theme .owl-nav.disabled+.owl-dots {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot span:hover {
  width: 30px;
  height: 10px;
  background: var(--background-color);
}

.carousel .carousel__item::before {
  content: "";
  background-color: #000c04;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .6;
}


@media (max-width:992px) {

  .carousel .carousel__conten .carousel__item2 .text {
    margin-left: 0;
  }

  .carousel .carousel__conten .carousel__item4 .text {
    margin-left: 0;
  }
}

@media (max-width:1200px) {
  .carousel__item .text h1 {
    font-size: 52px;
    line-height: 62px;
  }

  .carousel__item .text p {
    font-size: 15px;
  }
}

@media (max-width:339px) {
  .carousel .carousel__item .text h1 {
    font-size: 30px;
  }
}

/* ABOUT US */
.aboutus {
  margin: 6rem auto;
  text-align: center;
  max-width: 750px;
}

.aboutus .text h5 {
  color: var(--title-p-color);
  font-weight: 400;
}

.aboutus .text p {
  font-size: 1.2rem;
}

.aboutus .text h1 {
  color: var(--title-h2-color);
  font-weight: 600;
}

.dark .text h1 {
  color: var(--bg-color);
}

.aboutus .text .click {
  margin-top: 2rem;
}

/* style for ABOUT and SERVICES */
.text .click a {
  text-decoration: none;
  color: var(--title-h2-color);
  transition: 0.5s;
  position: relative;
  border-bottom: 2px solid #189A46;
  font-weight: 600;
  font-size: 18px;
}

.text .click a:hover {
  color: var(--background-color);
}

.dark .text .click a:hover {
  color: var(--background-color);
}

.dark .text .click a {
  color: var(--bg-color);

}

@media (max-width:339px) {
  .aboutus {
    margin-top: 3rem;
  }
}

/* SERVICES */

.services {
  background-color: var(--bg-light);
  padding: 5rem 0;
  padding-left: 3rem;
}

.dark .services {
  background-color: var(--bg-gray);
}

.services .text {
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 2.5rem 2rem;
  transition: all 0.5s;

}

.services .text:hover {
  background-color: var(--bg-light);
}

.dark .services .text {
  background-color: var(--title-h2-color);
  transition: all 0.5s;
}

.dark .services .text:hover {
  background-color: transparent;
}



@media (min-width: 992px) {
  .services .text {
    max-width: 30%;
  }
}

@media (max-width:991px) {
  .services .row {
    max-width: 750px;
    margin-left: -5px;
  }

  .services .text {
    max-width: 45%;
  }
}

@media (max-width:576px) {
  .services .text {
    max-width: 95%;
  }
}

.services .row .text span {
  font-size: 2rem;
  color: #189A46;
}

.services .row .text i {
  font-size: 2rem;
  color: #189A46;
}

.services .row .text .title a {
  color: var(--title-h2-color);
  display: block;
  font-size: 25px;
  font-weight: 600;
  margin: 1rem 0;
}

.services .row .text .title a:hover {
  color: #189A46;
}

.dark .services .row .text .title a {
  color: var(--bg-color);
}

.services .row .text p {
  font-size: 20px;
}

.services .row .text .click {
  margin-top: 2rem;
}

/* CHOOSE US */

.chooseus {
  padding: 5rem 0;
}

.chooseus .chooseus__content {
  display: flex;

}

.chooseus__content .img img {

  border-radius: 10px;
}



.chooseus__content .text {
  padding-top: 5rem;
}

.chooseus__content .text h5 {
  color: var(--title-p-color);
  font-weight: 400;
}

.chooseus__content .text p {
  font-size: 1rem;
  color: #AFAFAF;
}

.chooseus__content .text h1 {
  color: var(--title-h2-color);
  font-weight: 600;
}

.dark .text h1 {
  color: var(--bg-color);
}

.chooseus__content .check span {
  display: block;
}

.chooseus__content .check span i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--bg-light);
  color: #189A46;
  margin-right: 10px;
  font-size: 10px;
  font-weight: bold;
}

.dark .chooseus__content .check span i {
  background-color: var(--bg-gray);
}

.chooseus__content .check span p {
  display: inline-block;
  color: var(--title-h2-color);
  font-weight: 600;
}

.dark .chooseus__content .check span p {
  color: var(--bg-color);
}


/* NUMBER */
.number {
  background-color: var(--background-color);
  color: #ffffff;
}

.number__content h2 {
  font-size: 50px;
  font-weight: 600;
}

.number__content p {
  font-size: 20px;
  opacity: 0.7;
}

/* PLAN */
.plan {
  background-color: #F9F7FE;
}

.plan__content {
  margin-top: 100px;
}

.dark .plan {
  background-color: var(--bg-gray);
}

.dark .title h2 {
  color: var(--bg-color);
}

.card {
  text-align: center;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 30px rgb(0 0 0 / 8%);
}

.dark .card {
  background-color: var(--title-h2-color);
}

.dark .plan__content .card-header {
  background-color: var(--title-h2-color);
}

.dark .plan__content .card-title {
  color: var(--bg-color);
}

.plan__content .card-header {
  border-bottom: none;
  background-color: #ffffff;
}

.plan__content .card-title {
  color: var(--title-h2-color);
  font-size: 25px;
  font-weight: 600;
}

.plan__content .card-header .card-subtitle {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  font-weight: 600;
  color: #189A46 !important;
}

.plan__content .card-subtitle label {
  font-size: 25px;
  vertical-align: text-top;
  color: #189A46;
}

.plan__content .card-subtitle .card-month {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.plan__content .card-body li {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  align-self: center;
  padding-top: 6px;
}

.btn-plan {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  border-radius: 10px;
  color: #ffffff;
  background-color: #189A46;
  border: #189A46;
  transition: all 0.5s;
  margin-top: 20px;
}

.btn-plan:hover {
  background-color: #116E32;
  border-color: #116E32;
}

.plan__content .plan__item-2 .card-header {
  padding: 3em 2.5em 1.5em;
  background-color: #189A46;
  border-radius: 5px 5px 0 0;
}

.plan__content .card-header {
  padding: 3em 2.5em 0.5em;
}

.plan__content .plan__item-2 .card-header h4 {
  background-color: #ffffff;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 10px;
  color: #189A46;
  font-weight: 700;
  margin-bottom: 30px;
  display: inline-block;
}

.plan__content .plan__item-2 .card-header .card-title {
  color: #ffffff;
}

.plan__content .plan__item-2 .card-header span,
.plan__content .plan__item-2 .card-header label {
  color: #ffffff;
}

.plan__content .card-body {
  padding: 2em 2.5em 3.5em;
}

.plan .plan__content .item {
  padding: 0;
  width: 25%;
}

.plan__content .plan__item-2 {
  transform: translate(0, -40px);
  box-shadow: 0 2 30px rgb(0 0 0 / 20%);
  z-index: 100;
  margin: 0 auto;
}

/* NUTRI */

.title--red p:first-child {
  font-weight: 400;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 1px;
}

.title--red p:last-child {
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
}

.nutrition__img img {
  border-radius: 10px;
}

.nutrition__img {
  position: relative;
}

.nutrition__icon {
  position: absolute;
  top: 44%;
  left: 50%;
  background: #ffffff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  color: #189A46;
  transition: all 0.5s;
  animation: ripple 1s linear infinite;
}

.nutrition__icon:hover {
  color: #189A46;
  transform: scale(1.1);
}

/* .white-popup {
    position: absolute;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 1000px;
    margin: 20px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  } */
#popup-video {
  margin: 40px auto;
  position: relative;
}

#popup-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 750px;
}

/* testimonial */
.testimonial {
  background-color: #F9F7FE;
  text-align: center;
}

.dark .testimonial {
  background-color: var(--bg-gray);
}

.dark .testimonial .testimonial__content {
  background-color: var(--title-h2-color);
}

.dark .testimonial .testimonial__content .test__info h4 {
  color: var(--bg-color);
}

.testimonial__content {
  padding: 40px 30px;
  border-radius: 10px;
}

.testimonial__content blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

.testimonial__content blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
}

.testimonial__content blockquote q::before {
  font-size: 50px;
  color: #189A46;
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: 'Merriweather', serif;
}

.owl-item {
  border-radius: 10px;
}

.testimoial__info img {
  border-radius: 50%;
}

.test__info h4 {
  color: #000c04;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
}

.test__info p {
  color: #777777;
  font-size: 17px;
  opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot span:hover {
  width: 30px;
  height: 10px;
  background: var(--background-color);
}

.owl-theme .owl-dots button:focus {
  outline: none;
}

.test__img {
  width: 90px;
  margin-right: 20px;
}

/* CONTACT */
.contact .title p {
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
  font-weight: 400;
  margin: 20px 0;
}

.contact__content {
  max-width: 650px;
}

.contact__sub {
  justify-content: space-between;
}

.contact__form .contact__sub input {
  font-size: 16px;
  color: var(--title-h2-color);
  border-radius: 10px;
  padding: 0 20px;
  height: 60px;
  background: #ffffff;
  padding: 0 20px;
  flex-basis: 70%;
}

.contact__form .contact__sub button {
  flex-basis: 27%;
}

.contact__form .contact__sub button:hover {
  color: #ffffff;
}

.contact__form .contact__sub input:focus {
  outline: none;
  border: 1px solid #189A46;
  box-shadow: none;
}

.contact__form .contact__sub input:focus::placeholder {
  opacity: 0;
}

/* FOOTER */
footer {
  background-color: #111111;
  color: #ffffff;
}

.footer__content h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer-contact span {
  color: #696969;
  font-weight: 700;
}

.footer__content a,
.footer__content li {
  color: #777777;
  margin-bottom: 10px;
}

.footer__content a:hover {
  color: #ffffff;
}

.footer-social span {
  margin-right: 20px;
  transition: all 0.5s;
  margin-top: 10px;
}

.footer__bottom {
  padding: 20px 0;
  border-top: 1px solid rgba(105, 105, 105, 0.1);
}

.footer__bottom span {
  color: var(--title-p-color);
}



.backToTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  background-color: #189A46;
  font-size: 18px;
  border-radius: 50%;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

a:hover {
  color: #696969;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(15 162 66 / 16%), 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
  }
}