*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Jost', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
}
li{
    list-style: none;
}

:root{
    --background-color: #189A46;
    --font-color: #696969;
    --title-p-color: #f53626;
    --title-h2-color: #000c04;
    --bg-color: #ffffff;
}
.title p{
    font-size: 25px;
    color: var(--title-p-color);
    font-weight: 600;
    line-height: 1;
}
.title h2{
    font-size: 40px;
    color: var(--title-h2-color);
    font-weight: 600;
}

/* NUMBER */
.number{
    background-color: var(--background-color);
    color: #ffffff;
}
.number__content h2{
    font-size: 50px;
    font-weight: 600;
}
.number__content p{
    font-size: 20px;
    opacity: 0.7;
}

/* PLAN */
.plan{
    background-color: #F9F7FE;
}
.plan__content{
    margin-top: 100px;
}
.card{
    text-align: center;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%);
}
.plan__content .card-header{
    border-bottom: none;
    background-color: #ffffff;
}
.plan__content .card-title{
    color: var(--title-h2-color);
    font-size: 25px;
    font-weight: 600;
}
.plan__content .card-header .card-subtitle{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    font-weight: 600;
    color: #189A46!important;
}
.plan__content .card-subtitle label{
    font-size: 25px;
    vertical-align: text-top;
    color: #189A46;
}
.plan__content .card-subtitle .card-month{
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}
.plan__content .card-body li{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    align-self: center;
    padding-top: 6px;
}
.btn-plan{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 10px;
    color: #ffffff;
    background-color: #189A46;
    border: #189A46;
    transition: all 0.5s;
    margin-top: 20px;
}
.btn-plan:hover{
    background-color: #116E32;
    border-color: #116E32;
}
.plan__content .plan__item-2 .card-header{
    padding: 3em 2.5em 1.5em;
    background-color: #189A46;
    border-radius: 5px 5px 0 0;
}
.plan__content .card-header{
    padding: 3em 2.5em 0.5em;
}
.plan__content .plan__item-2 .card-header h4{
    background-color: #ffffff;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 10px;
    color: #189A46;
    font-weight: 700;
    margin-bottom: 30px;
    display: inline-block;
}
.plan__content .plan__item-2 .card-header .card-title{
    color: #ffffff;
}
.plan__content .plan__item-2 .card-header span,
.plan__content .plan__item-2 .card-header label{
    color: #ffffff;
}
.plan__content .card-body{
    padding: 2em 2.5em 3.5em;
}
.plan .plan__content .item{
    padding: 0;
    width: 25%;
}
.plan__content .plan__item-2{
    transform: translate(0,-40px);
    box-shadow: 0 2 30px rgb(0 0 0 / 20%);
    z-index: 100;
    margin: 0 auto;
}

/* NUTRI */

.title--red p:first-child{
    font-weight: 400;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 1px;
}
.title--red p:last-child{
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
}
.nutrition__img img{
    border-radius: 10px;
}
.nutrition__img{
    position: relative;
}
.nutrition__icon{
    position: absolute;
    top: 44%;
    left: 50%;
    background: #ffffff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    color: #189A46;
    transition: all 0.5s;
    animation: ripple 1s linear infinite;
}
.nutrition__icon:hover{
    color: #189A46;
    transform: scale(1.1);
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.mfp-hide {
  display: none !important;
}
.mfp-content iframe {
  width: 100%;
  min-height: 370px;
  border: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

  /* testimonial */
  .testimonial{
    background-color: #F9F7FE;
    text-align: center;
  }
  .testimonial__content{
    padding: 40px 30px;
    border-radius: 10px;
  }
  .testimonial__content blockquote q{
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
  }
  .testimonial__content blockquote{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
  }
  .testimonial__content blockquote q::before{
    font-size: 50px;
    color: #189A46;
    line-height: 0.8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: 'Merriweather', serif;
  }
  .owl-item{
    border-radius: 10px;
  }

  .testimoial__info img{
    border-radius: 50%;
  }
  .test__info h4{
    color: #000c04;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
  }
  .test__info p{
    color: #777777;
    font-size: 17px;
    opacity: 0.8;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot span:hover{
    width: 30px;
    height: 10px;
    background: var(--background-color);
  }
  .owl-theme .owl-dots button:focus{
    outline: none;
  }
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
  }

  .test__img{
    width: 90px;
    margin-right: 20px;
  }

  /* CONTACT */
  .contact .title p{
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
    font-weight: 400;
    margin: 20px 0;
  }
  .contact__content{
    max-width: 650px;
  }
  .contact__sub{
    justify-content: space-between;
  }
  .contact__form .contact__sub input{
    font-size: 16px;
    color: var(--title-h2-color);
    border-radius: 10px;
    padding: 0 20px;
    height: 60px;
    background: #ffffff;
    padding: 0 20px;
    flex-basis: 70%;
  }
  .contact__form .contact__sub button{
    flex-basis: 27%;
  }
  .contact__form .contact__sub button:hover{
    color: #ffffff;
  }
  .contact__form .contact__sub input:focus{
    outline: none;
    border: 1px solid #189A46;
    box-shadow: none;
  }
  .contact__form .contact__sub input:focus::placeholder{
    opacity: 0;
  }
  /* FOOTER */
  footer{
    background-color: #111111;
    color: #ffffff;
  }
  .footer__content h3{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .footer-contact span{
    color: #696969;
    font-weight: 700;
  }
  .footer__content a,
  .footer__content li{
    color: #777777;
    margin-bottom: 10px;
  }
  .footer__content a:hover{
    color: #ffffff;
  }
  .footer-social span{
    margin-right: 20px;
    transition: all 0.5s;
    margin-top: 10px;
}
.footer__bottom{
    padding: 20px 0;
    border-top: 1px solid rgba(105, 105, 105, 0.1);
}
.footer__bottom span{
    color: var(--title-p-color);
}



.backToTop{
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    background-color: #189A46;
    font-size: 18px;
    border-radius: 50%;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }
  a:hover{
    color: #696969;
  }

  @keyframes ripple{
    0% {
        box-shadow: 0 0 0 0 rgb(15 162 66 / 16%), 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%);
    }
    100% {
        box-shadow: 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
    }
  }